<?xml version="1.0"?>
<configuration>

  <location path="Manage.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>


  <connectionStrings>
    <remove name="TUCAN-SAM\SQLEXPRESS"/>
    <add name="TUCAN-SAM\SQLEXPRESS"
     connectionString="Data Source=TUCAN-SAM\SQLEXPRESS;
           Initial Catalog=Apollo;
           Integrated Security=True
           MultipleActiveResultSets=True"
       providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  
  
</configuration>
